.background{
	width: 1280px;
	height: 804px;
	background-color: white;
	display: flex;
	justify-content: center;
    grid-template-rows: 148px auto 176px;
    padding-top: 148px;
    position: relative;
    overflow: hidden;
}
.img_ornament_left{
	position: absolute;
	bottom: -280px;
	left: -140px;
}
.img_ornament_right{
	position: absolute;
	top: -160px;
	right: -300px;
}
.freckles_spot_left{
   	position: absolute;
	top: 340px;
	width: 120px;
	height: 150px;
	left: 270px;
}
.img_spot{
   position: absolute;
   left: 0;
   bottom: 0;
}
.img_freckles{
   position: absolute;
   right: 0;
   top: 0;
}
.freckles_spot_right{
	position: absolute;
	bottom: 240px;
	width: 80px;
	height: 90px;
	right: 260px;
}
.img_freckles_right{
    position: absolute;
    left: 0;
    bottom: 0;
}
.img_spot_right{
   position: absolute;
   right: 0;
   top: 0;
}
