.panel_top_simple{
	display: grid;
	grid-template-columns:576px 128px 576px;
	grid-template-rows: 60px;
}
.logo{
   width: 128px;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.accion{
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
  align-items: center;
}
.button{
    width: 156px;
    height:  100%;
    font-size: 14px;
    font: normal normal bold 14px/19px Open Sans;
    color: #31323F;
    border: none;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.icon{
   font-size: 24px;
}
.panel_top_simple::before {
    content: ""; 
}