.tool_filter_table_full{
	display: grid;
	height: 88px;
	align-items: center;
	grid-template-columns: 72px 176px 272px 272px 176px 176px 72px;
	gap: 16px;
}
.colum1{
	grid-column: 2;
	margin-left: -16px; 
}
